<div id="showquestion">
  
  <div class="thequestion">
    <div class="topquestion">
      <%= @question.subject %> 
    </div>

    <div class="theuser">
      <% if @question.user.avatar.nil? %>
        <%= image_tag "misc/noimage.png" %>
      <% end %>

      <% unless @question.user.avatar.nil? %>
        <%= image_tag @question.user.avatar.to_s, :size => "100x100" %>
      <% end %>
  </br>

      

    </div>

    <div class="question">
      <%= @question.question %>
    </div>

    <div class="questionbottom">
      demandée par <%= link_to @question.user.name, user_path(@question.user) %> il y'a <strong><%= time_ago_in_words(@question.created_at) %></strong>
    </div>

  </div>

</div>

