<%= form_for(@businessplan) do |f| %>
  <% if @businessplan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@businessplan.errors.count, "error") %> prohibited this businessplan from being saved:</h2>

      <ul>
      <% @businessplan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :wizard_question %><br />
    <%= f.text_area :wizard_question %>
  </div>
  <div class="field">
    <%= f.label :wizard_answer %><br />
    <%= f.text_area :wizard_answer %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.check_box :status %>
  </div>
  <div class="field">
    <%= f.label :order %><br />
    <%= f.number_field :order %>
  </div>
  <div class="field">
    <%= f.label :wizard_step_id %><br />
    <%= f.number_field :wizard_step_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
