<h1>Listing wizard_steps</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Order</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wizard_steps.each do |wizard_step| %>
  <tr>
    <td><%= wizard_step.name %></td>
    <td><%= wizard_step.order %></td>
    <td><%= link_to 'Show', wizard_step %></td>
    <td><%= link_to 'Edit', edit_wizard_step_path(wizard_step) %></td>
    <td><%= link_to 'Destroy', wizard_step, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wizard step', new_wizard_step_path %>
